<div class="template-container" ng-controller="GalleryCtrl">
    <div>
    <img class="profile-pic" src="./pictures/pic.jpg"></img>
    <h3 class="right-name">Anthony Dell'Anno</h3><br><br>
    Junior Web Developer<br>London, UK<br>
    <a href="https://github.com/adellanno">Github</a><br>
    <div style="clear: both;"></div>
    <div class="template-text">
      <p>
        I am a junior developer with a passion for creating and building new things. Self-taught to code at
        first, I am now seeking full-time employment as a
        junior developer in an established company where continued learning is supported and
        encouraged.
      </p>
      <p>
        The last year has seen me go through a drastic career change. In 2011 I graduated
        with a BA in History from the University of Sussex. History is, and always will be,
        a huge passion of mine, however, I found myself wanting to work in a more
        technical field. Coding provided the answer! Self-taught at first, after picking up
        my first book (John Duckett's fantastic HTML &amp; CSS: Design and Build Web Sites),
        I knew that coding was something that I would enjoy immensely. I taught myself the basics
        but ultimately sought a more structured approach to learning. In August 2015 I started
        a 12 week intensive coding course at Maker's Academy.
      </p>
    </div>
</div>
